---
layout: null
sitemap: false
---

$mobile-break: 700px;

@import "typography";
@import "layout";
@import "forms";
@import "cloudcannon";


 h1 {
	font-size: 5rem;
	// font-size: 6.5rem;
	line-height: 80px;
	margin: 0 -10px 0 0;

	@media (min-width: $mobile-break) {
		line-height: 100px;
		font-size: 6.5rem;
		// font-size: 8rem;
	}
}