---
layout: null
sitemap: false
---

$mobile-break: 700px;

@import "typography";
@import "layout";
@import "forms";
@import "cloudcannon";


h1 {
	font-size: 5rem;
	// font-size: 6.5rem;
	line-height: 80px;
	margin: 0 -10px 0 0;
	// color: #d4a31c;

	@media (min-width: $mobile-break) {
		line-height: 100px;
		font-size: 6.5rem;
		// font-size: 8rem;
		color: #d4a31c;
	}
	a {
		color: #d4a31c;
		&:hover {
			color: #73a9c9;
		}
	}
}

button {
	background-color: #004aad;
	color: white;
	border: none;
	padding: 12px 24px;
	border-radius: 8px;
	cursor: pointer;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
  }
  
  button:hover {
	background-color: #bd771b;
  }


  table {
	margin-top: 2rem; /* adds space above tables */
	// border-spacing: 10px
  } 

//   nav ul {
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// 	display: flex;
//   }
  
//   .menu-item {
// 	position: relative;
// 	margin-right: 20px;
//   }
  
//   .menu-item a {
// 	text-decoration: none;
// 	padding: 10px 15px;
// 	display: block;
// 	color: white;
//   }
  
//   .submenu {
// 	display: none;
// 	position: absolute;
// 	background: #333;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// 	top: 100%;
// 	left: 0;
// 	border-radius: 6px;
// 	min-width: 180px;
// 	z-index: 100;
//   }
  
//   .submenu li a {
// 	padding: 10px 15px;
// 	display: block;
// 	color: white;
//   }
  
//   .menu-item:hover .submenu {
// 	display: block;
//   }
  