---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: Adaletin olmadığı yerde ahlaktan bahsedilemez.
    image: "https://ps.w.org/quote-of-the-moment/assets/icon-256x256.png?rev=1097584"
    name: Michel de Montaigne
  - message: Haksızlık yapıp tüm insanlarla birlikte olmaktansa, adaletli davranıp tek başına kalmak daha iyidir.
    image: "https://ps.w.org/quote-of-the-moment/assets/icon-256x256.png?rev=1097584"
    name: Gandhi
  - message: Kuvvet haktadır, hak kuvvette değildir.
    image: "https://ps.w.org/quote-of-the-moment/assets/icon-256x256.png?rev=1097584"
    name: Bediüzzaman
  - message: Adalet mülkün temelidir.
    image: "https://ps.w.org/quote-of-the-moment/assets/icon-256x256.png?rev=1097584"
    name: Hz. Ömer (R.A.)
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>Dünya Hukuk ve Danışmanlık <b>2004 yılında</b> Ankara'da kuruldu. Halen Ankara’da bulunmakta olan ofisimiz genellikle <b>İş Hukuku ve Arabuluculuk</b> alanlarında faaliyet göstermektedir.</p>
  <p>Büromuz üstlendiği tüm sorumlukları büyük bir titizliğin yanısıra, <b>hak, adalet ve kanun</b> çerçevesinde yürütür, ve bu ilkelere riayet etmesini engelleyecek talep ve durumlardan kaçınır.</p>
  <p>Ayrıca, müvekkillerimize yalnızca hukuki çözümler değil, aynı zamanda uyuşmazlıkların önleyici yönden ele alınmasına yönelik danışmanlık hizmetleri de sunmaktayız.</p>
  <p>Temel hedefimiz, müvekkilimizin hukuki süreçlerinde en <b>etkili, şeffaf ve etik</b> şekilde yanlarında olmak ve onların güvenini kazanmaktır.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
