---
title:
call_to_action: Contact
background_image_path:
large_header: true
testimonials:
  - message: We use Justice Law in all our endeavours. They offer an unparalleled service when it comes to running a business.
    name: Joice Carmold
    image: "https://placekitten.com/g/60/60?a=.png"
  - message: Justice Law are the best of the best. Being local, they care about people and have strong ties to the community.
    name: Peter Rottenburg
    image: "https://placebear.com/60/60?a=.png"
  - message: Justice Law were everything we could have hoped for when buying our first home. Highly recommended to all.
    name: D. and G. Gibbleston
    image: "https://placebear.com/60/60?a=.png"
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
	<p>Dünya Hukuk ve Danışmanlık Bürosu 2004 yılında Avukat Nahit Gürhan Aydın tarafından kuruldu. Ankara’da bulunmakta olan Dünya Hukuk, genellikle İş Hukuku ve Arabuluculuk alanında faaliyet göstermektedir.</p>

	<p>Dünya Hukuk ve Danışmanlık avukatları tüm çalışmalarını büyük bir titizlik içerisinde; hak, adalet ve kanun çerçevesinde yürütür. Bu ilkelere riayet edemeyeceğini düşündüğü tüm talepleri reddeder.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
